// Themeing variables
$hue: 200;
$size: 1.5rem;
$radius: 0.2em;
$tspeed_fast: 150ms;
$tspeed_slow: 300ms;
$opacity: 0.5;

@mixin easeIn {
  transition: all $tspeed_slow ease-in;
}

@mixin background {
  &#bg-img {
    background: url("../assets/images/pexels-pixabay-2150.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba($bg-dark, $opacity);
    }
  }
}

// Dark theme

$bg-dark: hsl($hue, 80%, 8%);
$txt-dark: hsl($hue, 80%, 99%);
$accent-dark: hsl($hue, 60%, 50%);
$muted-dark: hsl($hue, 80%, 99%);
$secondary-dark: hsl(calc(#{$hue} - 200), 60%, 50%);

@mixin mediaLg {
  @media only screen and (min-width: 769px) {
    @content;
  }
}

// layout for tablets
@mixin mediaMd {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

// layout for mobile
@mixin mediaSm {
  @media only screen and (max-width: 500px) {
    @content;
  }
}
